@model School_ADO.Models.Entity.Teacher

@{
    ViewBag.Title = "Edit Teacher";
}

<div class="container">
    <header>
        <h1>Edit Teacher</h1>
    </header>
    <main>
        @using (Html.BeginForm())
        {
            @Html.HiddenFor(m => m.TeacherID)
            <div class="form-group">
                <label>First Name</label>
                @Html.TextBoxFor(m => m.FirstName, new { @class = "form-control" })
            </div>
            <div class="form-group">
                <label>Last Name</label>
                @Html.TextBoxFor(m => m.LastName, new { @class = "form-control" })
            </div>
            <div class="form-group">
                <label>Subject</label>
                @Html.TextBoxFor(m => m.Subject, new { @class = "form-control" })
            </div>
            <button type="submit" class="btn edit-btn">Save Changes</button>
        }
    </main>
</div>